includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - app/

    # Level 5 is a good starting point for strictness (max is 9)
    level: 5

    ignoreErrors:
        # - '#Unsafe usage of new static#'